{% extends 'converterapp/main.html' %}
{% load static %}
{% block content %}
<body style="background-color:#202C45;">
    
</body>
<div class="location">
<div class="container">
    <a class="btn btn-custom" href="{% url 'index'%}">Dictionary</a>
         
    <div class="row">
<div class="col-lg-12">
    <div class="location-form">
        <h3>Select the Image</h3>
        <form action="{% url 'image_text_translation' %}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="control-group">
                <input type="file" name="image" class="form-control">
                <!-- <textarea class="form-control" name="word" placeholder="Description" required="required"></textarea> -->
            </div>
            
            <div class="control-group">
                <select name="pytname"  class="form-control">
                    <option value="eng">English</option>
                   
                </select>
                <!-- <textarea class="form-control" name="word" placeholder="Description" required="required"></textarea> -->
            </div>
           
            <div class="control-group">
                <select name="googletransname" class="form-control">
                    <option value="ml">Malayalam</option>
                    <option value="en">english</option>
                    <option value="hi">Hindi</option>
                    <option value="ta">Tamil</option>
                    <option value="es">Spanish</option>
                </select>
                <!-- <input type="text" class="form-control" placeholder="Name" required="required" /> -->
            </div>
            <div>
                <input type="submit" class="btn btn-custom" value="Send Request">
                <!-- <button class="btn btn-custom" type="submit">Send Request</button> -->
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

   
{% endblock content %}
<!--  -->
