{% extends 'converterapp/main.html'%}
{% load static %}

{% block content %}


<body style="background-color:#202C45 ;">
    <br>
    <br>
    <form action="{% url 'hearbyvoice'%}" method="post" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="word" value="{{convert}}">
        <input type="hidden" name="lang" value="{{lang}}">
        <input class="btn btn-custom" type="submit" value="Hear By Voice">
        </form>&emsp;
        <!-- <a  class= href="{% url 'index' %}">Conversation</a>&ensp;&ensp;<a  class="btn btn-custom" href="{% url 'lang_convert_from_image' %}">Image Scanning</a> -->
                            
        <form action="{% url 'stopvoice'%}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="word" value="{{convert}}">
        <input type="hidden" name="lang" value="{{lang}}">
        <input class="btn btn-custom" type="submit" value="Stop">
        </form>&emsp;
        <a class="btn btn-custom" href="{% url 'index' %}">goto dictionay</a> 
            
<br><br>
<p style="color: white; font-size: 20px;font-family: Georgia;">{{convert}}</p>

</body>
{% endblock content %}