

{% extends 'converterapp/main.html'%}
{% load static %}


{% block content %}


<body style="background-color:#202C45 ;">
    <br>
    <br>
    
    <audio id="myAudio">
     {% for i in item %}
        <source src="{{i.audio.url}}" type="audio/mp3">
       
      {% endfor %}
      </audio>
      
     
      
     &emsp; <button class="btn btn-custom" onclick="playAudio()" type="button">Play Audio</button>
      <button class="btn btn-custom" onclick="pauseAudio()" type="button">Pause Audio</button> 
      
      <script>
      var x = document.getElementById("myAudio"); 
      
      function playAudio() { 
        x.play(); 
      } 
      
      function pauseAudio() { 
        x.pause(); 
      } 
      </script>

        <!-- <a class="btn btn-custom" href="{% url 'index' %}">goto dictionay</a>  -->
            
<br><br>
 <p style="color: white; font-size: 20px;font-family: Georgia;">&emsp; {{convert}}</p><br>
&emsp; <a class="btn btn-custom" href="{% url 'index' %}">Dictionay</a> 
<!-- <h1 style="color: white; font-size: 20px;font-family: Georgia;">{{audio.audio}}</h1> -->
</body>
{% endblock content %}