<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SKMS DICTIONARY</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        {% load static %}
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
       
    </head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar" style="height: 105px;">
            <div class="container"> 
                <!-- <div class="row align-items-center" > -->
                    <!-- <div class="col-lg-4 col-md-12 col-sm-3"> -->
                        <div class="logo" style="text-align: center;">
                            
                                <h1 style="margin-left: 100px;">SKMS <span>DICTIONARY</span></h1>
                                <!-- <img src="img/logo.jpg" alt="Logo">  -->
                          
                        </div>
                    <!-- </div> -->
               
                <!-- </div> -->
            </div>
        </div>
        
{% block content %}

{% endblock content %}
       
        
        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js'%}"></script>
    </body>
</html>